/*여기부터*/
.body_container {
    background-color: #CAD7A6;
    font-size: 1.1rem;
    color: #383838;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    /*드래그 방지용*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 15px 0 10px;
}
.text{
    margin: 10px 0 30px;
    font-size: 0.9rem;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;
    height: 100%;
}
img{width: 80%;}

/* 버튼 설정 */
button {
    cursor: pointer;
    border-radius: 14px;
    padding: 10px 0;
    box-sizing:border-box;
    font-size: 1.1rem;
    width: 90%;
    border: none;
    margin: 8px 0;
    color:#383838;
}
/*밝은 버튼*/
.button_type_A{background-color:#F2EEC5;}

/*어두운 버튼*/
.button_type_B{background-color:#94B489;}

form{
    justify-content: center;
    align-items: center;

    width: 100%;
    display: flex;
    flex-direction: column;
}
/*input*/
input {
    cursor: pointer;
    box-sizing:border-box;
    border-radius: 14px;
    padding: 10px;
    font-size: 1.1rem;
    width: 90%;
    height: 35%;
    border: none;
    margin: 8px 0;
    color:#383838;
}